/*@charset "utf-8";*/

html,body,div,p,ul,li,input,textarea,section,article,figure,image,span,h1{
    margin: 0;padding: 0;
    border:0;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    letter-spacing: 1px;
    -webkit-text-size-adjust:none;
}
/*a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0}*/
img{ display:inline-block;}
a{ text-decoration:none; color:#000000}
ul li{ list-style-type:none;}
.clear{ clear:both; font-size:0; line-height:0; visibility:hidden; height:0;}
.clearfix:after {clear: both; content: " ";    display: block; height: 0; overflow:hidden;}
body{
    background: #ffffff;
}
li{
    list-style: none;
}
li a{
    width: 100%;
    height:100%;
}
.cell{
    width:100%;
}
figure{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
.containers .about-content-container{
    background-size: 100% auto;
}
.containers .content-container .about-wwu-container{
    width: 100%;
    background: url("../images/wwu-bg.jpg") no-repeat;
    background-size: 100%;
    -ms-background-position-x: center;
    background-position-x: center;
    -ms-background-position-y: top;
    background-position-y: top;
}
.center {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    /*-webkit-box-orient: vertical;-moz-box-orient: vertical;-ms-box-orient: vertical;box-orient: vertical;*/
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -o-box-pack: center;
    -o-box-align: center;
    -ms-box-pack: center;
    -ms-box-align: center;
    box-pack: center;
    box-align: center;
    text-align: center;
}
.middle{
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;-moz-box-orient: vertical;-ms-box-orient: vertical;box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
    -o-box-pack: center;
    -o-box-align: center;
    -ms-box-pack: center;
    -ms-box-align: center;
    box-pack: center;
    box-align: center;
    /*text-align: center;*/

}
.white-shadow-font{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    text-shadow: 0px 0px 16px #ffffff;
    letter-spacing: 1px;
    line-height: 20px;
}
/*gradient title style start*/
.large-title{
    margin-bottom: 20px;
}
.large-title , .large-title h1,.large-title h1 span{
    font-size: 52px;
}
.mid-title, .mid-title h1,.mid-title h1 span{
    font-size: 27px;
    padding-top: 10px;
}
/*.mid-title {*/
/*font-size: 52px;*/
/*}*/
.section-title{
    /* height: 100px; */
    text-align: center;

}

.section-title h1{
    position: relative;
    /*font-size: 52px;*/
    letter-spacing: -1.5px;
    color: #feffef;
}
.section-title h1:after{
    color: #fbffce;
    font-weight:normal;
}
.section-title h1 span {
    width: 100%;
    display: block;
    position: absolute;
    text-decoration: none;

    letter-spacing: -1.5px;
    top: 0;
    z-index: 2;
    color:#feffef;
    font-weight:normal;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
.popup-box .section-title h1 span{
    z-index:105;
}
.wpn-title:after{
    content: 'Who’s Playing Now?';
}
.fgf-title:after{
    content: 'Fun Game Facts';
}
.pwu-title:after{
    content: 'Play With Us';
}
.wwu-title:after{
    content: 'Work With Us';
}
.wwaa-title:after{
    content:'What We Are About';
}
.title-what:after{
    content:'What';
}
.jtt-title:after{
    content:'Join The Team';
}
.oo-title:after{
    content:"Open Positions";
}
.oo-introduce P{
    font-size: 15px;
    color: #ffffff;
    width: 70%;
    max-width: 660px;
    margin: 5px auto 20px auto;
    text-align: center;
}
.poa-title:after{
    content: 'Play on Android';
}
.poap-title:after{
    content: 'Play on Apple';
}
.piyb-title:after{
    content: 'Play in your Browser';
}
.shuflr-casino-title:after{
    content: 'Shuflr Casino';
}

/*gradient title style end*/
/*header menu style start*/
.header-menu{
    width: 100%;
    max-width: 1140px;
    height:120px;
    position: fixed;
    z-index: 99;
    top:0;
    display: block;
}
.header-menu .menu-container{
    height:120px;
    background: #ffffff url(../images/header-logo.png) no-repeat center;
    display: -webkit-box;
    /* -webkit-box-orient: horizontal; */
    /* -webkit-box-pack: end; */
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: end;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center; float: right;
}
.header-menu .menu-container .menu-btn{

    width:40px;
    height:40px;
    display: block;
    background: url("../images/menu-btn.jpg") no-repeat;
    margin: 40px 40px 40px auto ;

}

.header-container{
    text-align: center;
}
.left-content .content-text, .right-content .content-text{
    width:60%;
    max-width: 230px;
    height:100%;

}
.player-list{
    min-width: 320px;
    min-height:320px;
    margin: 0px 10%;
}
.player-list .content-table{
    margin: 0 auto;
    display: block;

}
.player-list .player-item{
    width:60px;
    height:80px;
    margin: 5px 8px;
    display: block;
    float: left;
}
.player-list .player-item .head-image{
    width: 60px;
    height:60px;
}
.player-list .player-item .player-name{
    width:100%;
    height: 15px;
    background: #37c9b9;
    color: #ffffff;
    position: absolute;
    font-size: 12px;
    bottom: 20px;
    text-align: center;
    overflow: hidden;
}
.player-list .player-item .view-more{
    display: block;
    width: 100%;
    font-size: 12px;
    color: #5EAEC2;
    text-align: center;
}
.player-list .player-item .player-head{
    width: 60px;
    height:85px;
    position: relative;
}
.fgf-container .fact-list{
    width: 90%;
    min-width: 280px;
    margin: 0 5%;
}
.fgf-container .fact-list .fact-item{
    width: 100%;
    height:90px;
}
.fact-score-l{
    font-size: 24px;
}
.fact-score-s{
    font-size: 16px;
}
.fact-title{
    font-size: 14px;
}
.mid-image-container{
    display: block;
    text-align: center;
    /*overflow: hidden;*/
}
.mid-image-container img{
    max-width: 1110px;
    width: 100%;
}
.pwu-container .banner-list {
    width:96%;
    min-width:300px;
    margin: 0 2%;
}
.pwu-container .banner-list .cell{
    width: auto;
    height: inherit;
}

.pwu-container .banner-list img {
    width:98%;
    height:98%;
    max-height: 245px;
    border: 1px #ffffff solid;

}
.content-container .wwu-container{
    background: url("../images/wwu-bg.jpg") no-repeat;
    background-size: 1120px;
    -ms-background-position:center top;
    -moz-background-position: center top;
    background-position: center top;
    text-align:center;
}

.wwu-container .introduction{
    color: #ffffff;
    text-align: center;
    padding: 20px 30px;
}
.wwu-container .infor-box{
    width: 80%;
    margin: 0 auto;
}
.infor-box .message{
    margin-top: 30px;
}
.wwu-container .people-infor,.wwu-container .message.wwu-container, .submit-btn{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 30px auto;
}
.wwu-container .people-infor input{
    /* float: left; */
    /* position: relative; */
}
.people-name ,.request-message,.wwu-container .submit-btn input{
    width: 80%;
    max-width: 360px;
    height: 46px;
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    background-color: rgba(0,29,65,0.7);
    resize : none
;
    text-indent: 10px;
    line-height: 24px;
    margin: 0 10%;
    /* display: block; */
}
.request-message{
    height:120px;
    /* float: right; */
}
.wwu-container .submit-btn .send-btn{
    color: #ffffff;
    font-size: 16px;
    width: 220px;

    margin-right: 10%;
}
.footer-container{
    bottom: 0;
    width: 100%;
    height: 250px;
    background: url('../images/logo-white.png') no-repeat  center 20px rgba(0,29,65,0.9);
}
.wwaa-block,.oo-block{
    width:310px;
    min-height: 400px;
    background: url("../images/about-block-bg.png");
    background-size: 310px 100%;
    margin: 5px auto;
}
.wwaa-block .content{
    font-size: 6.6px;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
}
.oo-block .content{
    font-size: 14px;
    color: #ffffff;
    padding:  10px;
    text-align: center;
}

ul.cities{
    width: 100px;
    height:100px;
    display: block;

    margin: 15px auto;
}
.cities li{
    color: #ffffff;
    margin: 5px auto;
}
ul.cities .city-item-title{
    font-size: 13px;

}
ul.cities .city-item{
    font-size: 10px;
}
.jtt-container{
    width:100%;
    min-height:200px;
    display:block;
    background:url('../images/jtt-bj.jpg');
    background-size: 100%;
    padding-bottom: 100px;
    padding-top: 120px;
}
.jtt-container .content-text{
    max-width:760px;
    width:80%;
    font-size: 12px;
    color: #ffffff;
    margin: 40px auto;
    text-align: center;
}
.jtt-container .content-text p{
    padding: 5px ;
}
.jtt-container input[type='button']{
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    max-width: 400px;
    width: 60%;
    height: 35px;
    margin: 80px auto 80px auto;

    display: block;
    background-color: #021f43;
}
.content-container .popup-container{
    display: none;
    position: fixed;
    width: 100%;
    z-index:100;
    min-height: 800px;
    left: 0px;
    top:0px;
    background: url("../images/popup-bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.content-container .popup-container .popup-box{
    width: 100%;
    max-height: 320px;
    position: relative;
    display: block;
}
.popup-box .popup-close{
    position: absolute;
    display: block;
    width:40px;
    height:40px;
    background: url("../images/close-btn.png") no-repeat;
    background-size:100% 100%;
    top: -40px;
    right: 20px;
    z-index:102;

}
.popup-box .scroll-box{
    position: relative;
    display: block;
    overflow: hidden;
    /*overflow-y: scroll;*/
    width:80%;
    margin: 50px 10%;
}

.popup-box .scroll-items{
    width:400%;

}
.popup-box .scroll-item{
    width:25%;

    float:left;
}
.popup-box .game-pic{
    /*-webkit-box-flex: 1.0;*/
    /*-moz-box-flex: 1.0;*/
    /*-ms-box-flex: 1.0;*/
    /*box-flex: 1.0;*/

}
.popup-box .game-pic img{
    width:90%  ;
    /*width:90px;*/
    margin: 0px 5% auto 5%;
}
.popup-box .game-introduction{

}
.popup-box .game-name{
    position: relative;
    left: 27%;
    margin-bottom: -50px;
}
.popup-box .game-introduction{
    display: block;
    width:90%;
    max-width: 850px;
    /*min-height:100px;*/
    background: rgba(3,39,71, .8);
    color:#ffffff;
    font-size: 12px;
    margin: 80px 5% 20px 5%;
}
.popup-box .game-introduction p{
    display: block;
    padding: 20px 10px;
    line-height: 25px;
}
.popup-box .game-launchers{
    width:90%;
    margin: 10px 5%;
}
.popup-box .game-launchers .launcher-item{
    width:100%;
    height: 54px;
    background: rgba(3,39,71, .8);
    margin: 10px 0;
}
.popup-box .prev-button{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 105;
    display: none;
    width: 40px;
    height:90px;
    background: url("../images/prew-arrow.png") no-repeat;
    background-size: auto 100%;
}

.popup-box .next-button
{

    position: absolute;


    top: 50%;

    right: 2%;

    z-index: 105;
    display: block;
    width: 40px;
    height:90px;
    background: url("../images/next-arrow.png") no-repeat;
    background-size: auto 100%;
}

.prev-button a,.next-button a{
    display: block;
    width: 100%;
    height:100%
}
/*.npw-container{*/
/*min-height: 570px;*/
/*margin: 0 auto;*/
/*background:url("../images/wpn-bg-pc.jpg") repeat-y;*/
/*background-size: 100% auto;*/
/*}*/
/*header menu style end*/
/*PC-side style*/
@media only screen and (min-width: 641px)
{
    .containers{
        height:2300px;
        margin: 120px auto 0 auto;
    }

    .content-table{
        margin: 0 auto;
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-box;
        display: box;
    }

    .content-table .cell{
        -webkit-box-flex: 1.0;-moz-box-flex: 1.0;-ms-box-flex: 1.0;box-flex: 1.0;
        width: 100%;
        height: 100%;
    }
    .content-table .cell-3{
        -webkit-box-flex: 3.0;
        -moz-box-flex: 3.0;
        -ms-box-flex: 5.0;
        box-flex: 3.0;
        width: 100%;
        height: 100%;
    }
    .content-table .cell-5{
        -webkit-box-flex: 5.0;
        -moz-box-flex: 3.0;
        -ms-box-flex: 5.0;
        box-flex: 5.0;
        width: 100%;
        height: 100%;
    }
    .menu-container{
        height:80px;
    }
    .menu-container,.vertical-mid{
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-box;
        display: box;
        -webkit-box-orient: vertical;-moz-box-orient: vertical;-ms-box-orient: vertical;box-orient: vertical;

        -webkit-box-pack: center;-moz-box-pack: center;-ms-box-pack: center;box-pack: center;



    }
    nav .nav{
        width: 100%;
        height:39px;
        font-size: 17px;
        text-align: center;
        margin:15px 0;
        padding: 6px 0;
    }
    .npw-container{
        min-height: 570px;
        margin: 0 auto;
        background:url("../images/wpn-bg-pc.jpg") repeat-y;
        background-size: 100% auto;
    }

    .shuflr-article{
        width:80%;
    }
    .about-header-container .shuflr-article{
        width: 90%;
        margin: 0px 5% 40px 5%;
    }


    /*low-res style start*/
    @media only screen and (max-width: 1440px)
    {
        .containers{

        }
        .header-menu .menu-container{
            width:100%;
            max-width: 1140px;
        }

        .content-container{
            width: 100%;
            background: #ffffff url(../images/test-background1.jpg) no-repeat center;
            background-size: 98% auto;
        }
        .content-container .header-container, .content-container .fgf-container,.content-container .pwu-container,.content-container .about-header-container{
            background: url(../images/little-background.jpg) repeat-y;
            padding-top: 20px

        }
        .content-container .header-container{
            height: 560px;
        }
        .content-container .about-header-container{
            /* height: 640px; */

            padding-bottom: 20px;
        }
        .content-container .header-container .content-table .logo{
            height: 460px;
            text-align: center;
        ;

        }
        .suncoin{
            max-width: 380px;
            width: 90%;

        }
        .content-container .header-container .content-table .left-content{
            height: 460px;
        }
        .content-container .header-container .content-table .right-content{
            height: 460px;
        }
        .content-container .header-container .menu-container,.content-container .about-header-container .menu-container{
            width: 100%;
            background: #ffffff;

        }
        .left-content .content-text, .right-content .content-text{
            width:60%;
            max-width: 230px;
            height:100%;
            color:#ffffff;
            font-size: 16px;
            text-align: center;
            text-shadow:  0px 0px 16px #ffffff ;
            letter-spacing: 1px;
            line-height: 20px;
        }
        .left-content .content-text{
            float: right;
            position: relative;




        }
        .right-content .content-text{
            float: left;
            position: relative;


        }
        .content-container .fgf-container{
            height:320px;
        }
        .content-container .pwu-container{
            padding-bottom: 45px;
        }
        /*.content-container .wwu-container{*/
        /*background: url("../images/wwu-bg.jpg") no-repeat;*/
        /*background-size: 1120px;*/
        /*background-position: top center;*/
        /*}*/
        @media only screen and (max-width: 1118px){
            .containers{
                width:100%;
            }
            .content-container{
                background-size: 100% auto;
            }

            .content-container .header-container,.content-container  .fgf-container{
                width: 100%;
            }
            .npw-container{
                width:100%;
            }

        }
        @media only screen and (min-width: 1119px){
            .containers{
                width:1140px;
            }
            .content-container .header-container, .content-container .fgf-container, .content-container .pwu-container, content-container .about-header-container{
                width: 1140px;
            }
            .npw-container{
                width:1118px;

            }
        }



    }
    /*low-res style end*/
    /*hi-res style start*/
    @media only screen and (min-width: 1441px){

        .containers{
            height:2300px;
            min-width:1118px;
            width:77.6%;
            margin: 0 auto;
        }
        .content-container{
            background: url(../images/little-background.jpg) repeat-y;
            background-size: 100% auto;
        }
        .about-header-container{
            width:90%;
            height:600px;
        }
        .header-container{
            width: 100%;
            height: 200px;
        }
    }
    /*hi-res style end*/
}
/*PC-side style end*/

/*mobile-side style start*/

@media only screen and (max-width: 640px){
    .containers{
        width:100%;
        height: 5000px;
        margin: 80px auto 0 auto;
        /*position: relative;*/

    }
    .content-container{
        background: url(../images/little-background.jpg) repeat-y;
        background-size: 100% auto;
    }

    .header-container, .fgf-container,.pwu-container{
        width: 100%;
        /*height: 200px;*/
    }
    .header-container .content-table .f-box{
        display: block;
    }
    /*header menu style start*/
    .header-menu{
        height:80px;
    }
    .header-menu .menu-container{
        height: 80px;
        background-size: 60px;
        display: -webkit-box;
        display: -moz-box;
        display: -o-box;
        display: -ms-box;
        display: box;
        -webkit-box-orient: horizontal;-moz-box-orient: horizontal;-ms-box-orient: horizontal;box-orient: horizontal;
        -webkit-box-pack: end;-moz-box-pack: end;-ms-box-pack: end;box-pack: end;
    }
    .header-menu .menu-container .menu-btn{


        background-size: 100%;
        margin: 25px;

    }
    /*header menu style end*/
    .flow{
        display: block;
        padding: 1px;
    }
    .flow .content-text{
        margin: 20px auto;
        font-size: 12px;
        letter-spacing: 0.5;
    }
    .suncoin{
        max-width: 240px;

    }
    .menu-container ul li{
        background: #ffffff;
        width:100%;
        height: 20px;
        margin: 2px;
        padding: 10px;
    }
    .npw-container{
        min-height:300px;
        background: url("../images/wpn-bg-mob.jpg") repeat-y;
        background-size: 100%;
    }
}
@media only screen and (max-width: 400px){
    .player-list{
        margin: 0 10%;
    }
}
/*mobile-side style end*/